<h3>Update Employee</h3>
<div style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="employee.name" name="name">
    </div>

    <div class="form-group">
      <label for="name">Salary</label>
      <input type="number" class="form-control" id="salary" required [(ngModel)]="employee.salary" name="salary">
    </div>

    <div class="form-group">
      <label for="name">Department Id</label>
      <input type="number" class="form-control" id="dept_id" required [(ngModel)]="employee.dept_id" name="dept_id">
    </div>

    <div class="form-group">
      <label for="name">Experience</label>
      <input type="number" class="form-control" id="experience" required [(ngModel)]="employee.experience" name="experience">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
